header {
  position: relative;
  width: 100%;
  height: 60vh;
  background: url("https://cdn.shumrain.me/img1111235.jpg") no-repeat center/cover;
}
.post {
  width: 100%;
  min-height: 30rem;
  margin-bottom: 2rem;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0,0,0,0.16);
  border-radius: 8px;
  border-bottom: 1px hidden #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
body {
  background: #fff;
}
main {
  max-width: 77rem;
  margin: 2rem auto;
  padding: 0 0.8rem;
}
